.card-css{
    margin: 5%;
    width: 80%;
    height: 130%;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 10px #7979791a;
    border: 0.20000000298023224px solid #7979791a;
    border-radius: 20px;
    
    }

    .column{
        margin-top: 5%;
    }

    .icon{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        border-radius: 50%;
        background-color: #FFFFFF;
        color: #3E8BE2;
    }

    .add{
        position: absolute;
        top: 70%;
        left: 36%;

    }