.sidebar{
    height: 100vh;
    width: 100%;
    background-color: #FFFFFF;
}

.sidebarList{
    height: auto;
    padding: 0;
    width: 100%;
    margin-top: 10%;
}

.sidebarList .row{
    height: 60px;
    /* width: 100%; */
    list-style-type: none;
    margin: 0;
    /* display: flex;
    flex-direction: row; */
    color: #3E8BE2;
    justify-content: center;
    align-items: center;
    font-size: 'Trebuchet MS', 'Lucida sans Unicode', 'Lucida Grande', 'Lucida sans', Arial, sans-serif;
}

.sidebarList .row:hover{
    cursor: pointer;
    background-color: #d8e8f9;
}

.sidebarList #active{
    background-color: #d8e8f9;
}

.row #icon{
    flex: 30%;
    display: grid;
    place-items: center;
}

.row #title{
    flex: 70%;
}

.avatar{ 
    
    height: 100%;
    width: 100%;
    padding: 15%;
    margin: 20%;
    left: 15%;
    background-color:  #3E8BE2 !important;
    font-size: x-large !important;
    font-weight: bolder !important;
    text-align: center !important;
}

.both{
    display: grid;
    justify-content: center;
    margin-top: -40px;
    overflow-x: hidden;
}

.name{
    font-weight: bolder !important;
    /* margin-left: 22%; */
}

.email{
    color: #3E8BE2;
    /* margin-left: 10%; */
}